
.topbar {
  background-color: #002D6E;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  font-size: 14px;
  align-items: center;
}

.leftTopbar span {
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.rightTopbar img {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  cursor: pointer;
}

.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 80px;
}

.logo {
  height: 36px;
  width: auto;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 300px;
}

.navLinks a,
.dropbtn {
  background: none;
  border: none;
  font-size: 14px;
  color: #002D6E;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none; 

}

.navLinks a:hover,
.dropbtn:hover {
  color: #E91E63;
}

.active {
  color: #E91E63;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: #333;
  padding: 10px 16px;
  display: block;
  text-decoration: none;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.searchBox {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 100px;
}

.searchBox input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  padding: 4px 8px;
}

.searchBox button {
  background: none;
  border: none;
  cursor: pointer;
}

.searchBox img {
  width: 16px;
  height: 16px;
}

