.carouselWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0rem auto;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.carouselWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

